@model SSW.DataOnion.Sample.WebUI.Models.SchoolsModel
@{
    ViewData["Title"] = "Schools";
}
<h2>Schools - using DbContext</h2>

<table class="table table-responsive table-striped">
    <thead>
    <tr>
        <th>
            School Name
        </th>
        <th>
            School Address
        </th>
        <th>
            No of Students
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var school in Model.Schools)
    {
        <tr>
            <td>@school.Name</td>
            <td>@school.Address.FullAddress</td>
            <td>@school.Students.Count</td>
        </tr>
    }
    </tbody>
</table>

<div class="panel panel-info">
    <div class="panel-heading">
        First Student
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label" for="firstName">First name:</label>
            <span name="firstName" id="firstName" class="form-control-static">@Model.Student.FirstName</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="lastName">Last name:</label>
            <span name="lastName" id="lastName" class="form-control-static">@Model.Student.LastName</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="id">Id:</label>
            <span name="id" id="id" class="form-control-static">@Model.Student.Id</span>
        </div>
    </div>
</div>
